
<div class="card">
    <div class="card-body py-0 pt-2 d-flex justify-content-between">
        <h3>{{data.name}}</h3>
        <ul class="d-flex gap-4">
            <li style="list-style: none;">
                <a href="/speciality" class="btn btn-primary">
                    lista
                    <i class="bi bi-card-list"></i>
                </a>
            </li>
            <li style="list-style: none;">
                <button class="btn btn-primary d-flex gap-2" data-toggle="modal" data-target="#modalCreateSpeciality">
                    actualizar
                    <i class="bi bi-pen-fill"></i>
                </button>
            </li>
        </ul>
    </div>
</div>

<div class="card mby-3">
    <div class="card-body">
        
        <p class="lead">{{data.description}}</p>

        <ul>
            <li>Doctores: {{data._count.speciality}}</li>
        </ul>

    </div>
</div>
