
{{#if succ}}
    <p class="bg-success text-light">{{succ}}</p>
{{/if}}

{{#if err}}
    <p class="bg-danger text-light">{{err}}</p>
{{/if}}

{{#if error}}
    <p class="bg-danger text-light">{{error}}</p>
{{/if}}
