<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 "
    id="sidenav-main">
    
    <div class="collapse navbar-collapse w-auto h-" style="height: 100%;" id="sidenav-collapse-main">
        <div class="sidenav-header">
            <a class="d-flex flex-column justify-content-center p-3" href="/" style="background-image: url(/img/bg.jpg);" target="">
                {{!-- <img src="/img/bg.jpg" class="navbar-brand-img rounded" alt="main_logo"> --}}
                <span class="ms-1 font-weight-bold text-light text-lg font-monospace w-full text-center" style="text-shadow: 0 0 3px #212529, 0 0 5px #212529;">{{app.name}}</span>
            </a>
        </div>
        <ul class="navbar-nav" style="">
            {{#each pages}}
                {{#itemNav this ../user.role}}
                    {{this}}
                {{/itemNav}}
            {{/each}}
        </ul>
    </div>
</aside>